.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   background-color: white;
   border-style: ridge;
   border-width: 4rem;
   border-radius: 0.5rem;
}


